name: CD

on:
  workflow_run:
    workflows: [CI]
    types:
      - completed
    branches:
      - main

jobs:
  node-pkg-cd:
    name: Node package CD
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v3
      - uses: actalog/node-pkg-cd@v1
        with:
          node-auth-token: ${{ secrets.NODE_AUTH_TOKEN }}
          node-version: 20
